.welcome hr{
    width:95%;
    border-top: 2px solid #3f3f3f;
    margin: auto;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.padding{
    padding-bottom: 4rem;
    padding-top: 2rem;
 }
.welcome{
    padding-top: 2rem;
    width: 75%;
    margin: 0 auto;
    font-family: 'Poppins' sans-serif;
}